body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.pinimg.com/originals/84/76/b2/8476b2eea6d90a9412609415178c47d9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    background-image: url(https://i.pinimg.com/originals/7f/b9/40/7fb9401a8344cd76d4cf6ec6548e7c47.jpg);
    background-position: center;
    color: white;
    text-align: right;
    padding: 2%;
    font-size: 2rem;
}

h1 span{
    color: red;
}

section{
    background-color: white;
    margin: 0 5%;
    padding: 1% 2%;
}

div{
    display: flex;
    align-items: flex-start; 
    justify-content: space-around;
}

div div{
    display: inline-block;
    width: 30%;
}

h2{
    color: white;
    padding: 5%;
    margin: 0;
}

.personajes{
    border-right: 5px dotted red;
    padding: 0 2% 0 0;
}

.personajes h2{
    background-color: red; 
}

.casting{
    border-right: 5px dotted blue;
    padding: 0 2% 0 0;   
}

.casting h2{
    background-color: blue;
}

.rodaje h2{
    background-color: green;
}

p{
    padding: 5%;
    line-height: 2rem;
    margin: 0;
}