@keyframes movimiento-texto{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes efecto-color{
    0%{width: 150px;}
    25%{width: 300px;}
    25%{
        width: 200px;
        background-color: red;
    }
    75%{
        width:500px;
    }
    100%{
        width:100px;
        background-color: green;
    }
}

p{
    animation-duration: 5s;
    animation-name: efecto-color, movimiento-texto;
    animation-iteration-count: infinite;
    font-size: 30px;
}

