$ancho-maximo: 1240px;
$animal: elefante;

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.cabecera{
    background-color: #f4f4f4;
    border-bottom: 1px solid gray;

    &__topbanner{
        background-color: #411016;
    

        h3{
            color: #FFFFFF;
            padding: 10px 0;
            text-align: center;
        }
    }
}

.destacados{
    width: $ancho-maximo;
    margin: auto;
    display: flex;
    justify-content: space-between;

    &__destacado{
        width: ($ancho-maximo/3)-50;
        background-color: #411016;
        border-radius: 10px;
        height: 200px;
        &__boton{
            width: 100%;
            height: 40px;
            @if $animal == gato{
                background-color: red;
            }@else if $animal == perro {
                background-color: green;
            }
            @else{
                background-color: blue;
            }
        }
    }
}

