* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.cabecera {
  background-color: #f4f4f4;
  border-bottom: 1px solid gray;
}

.cabecera__topbanner {
  background-color: #411016;
}

.cabecera__topbanner h3 {
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
}

.destacados {
  width: 1240px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destacados__destacado {
  width: 363.33333px;
  background-color: #411016;
  border-radius: 10px;
  height: 200px;
}

.destacados__destacado__boton {
  width: 100%;
  height: 40px;
  background-color: blue;
}
/*# sourceMappingURL=style.css.map */