/*Estilos por etiqueta*/

h2{
    background-image:url(https://img.freepik.com/vector-gratis/fondo-pintura-acuarela-rosa-vibrante_53876-58930.jpg?size=626&ext=jpg);
}

p{
    color:black;
}

/*Estilo por atributo*/

#bloque2{
    background-color: yellow;
}

/*Estilo por clase*/
.titulo{
    color:rgb(0, 23, 128);
    font-size: 30px;
}

p, .titulo{
    background-color:aqua;
}

p{
    font-size: 20px;
    line-height: 30px;
}

img{
width: 45%;
}

#bloque1 p span{
    background-color: red;
    font-weight: bold;
}



/*Reglas semánticas

1.Pueden ir en un solo renglón o en varios. Cada par atributo: valor; va separado del siguiente por;

p{
    nombre:valor;
    nombre:valor;
    nombre:valor;

    Ej: 
    color: red;
}

2. Siempre que hable de valores numéricos estos deben llevar la unidad a la que se refieren los pixeles (px) o por porcentajes.

p{
    font-size: 40px;
}

img{
width: 45%;
}
*/

#bloque2 p{
    color:green;
}

#bloque1 a{
    color: red;
}