.caja:nth-child(1){
    background-color: red;
}

.caja:nth-child(2){
    background-color: blue;
}

.caja:nth-child(3){
    background-color: pink;
}

.caja:nth-child(4){
    background-color: yellow;
}

.container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 40vh 60vh;
}