body.contenedor{
    /*Imagen con url externa*/
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/176/927/non_2x/blue-and-white-abstract-background-vector.jpg);
    /*Imagen con url interna*/
    background-image: url(imagenes/fondo-acuarela.jpeg);
    font-family: "Poppins";
    background-size: cover;
    background-repeat: no-repeat;
}

#bloque1 .parrafo a{
    background-color: black;
    color:white;
}

h1{
    font-family: 'Dancing Script', cursive;
}

.parrafo1{
    /*font-style: italic;*/
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: black;
    letter-spacing: 3px;
    text-align: center;
}

.parrafo2{
    /*font-style: italic;*/
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: black;
    letter-spacing: 2px;
    text-align: justify;
}

#bloque1{
    border: 3px solid green;
    border-top: 15px solid red;
    border-bottom: 6px dotted blue;
    border-right: 2px solid yellow;
    border-left: 10px solid green;
}

.listaPrincipal{
    color:red;
}

.milista{
    font-size: 25px;
    /*list-style-image: url(https://image.flaticon.com/icons/png/128/73/73903.png);*/
}