.cabecera{
    display: flex;
    &__buscador{
        width: 600px;
    }

    &__buscador__input{
        border-radius: 20px;
        height: 50px;
    }

    &__menu{
        &__principal{
            list-style: none;
            display: flex;

            li{
                margin: 0 40px;
            }
        }
    }
  }