body{
    background-color:antiquewhite;
}

/*Aquí vienen los estilos del título*/

.titulo{
    background-color: aqua;
    width: 20%;
    border: 2px dotted black;
    padding: 50px 40px 30px 10px;
    /* margin: 40px; */
    /* padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 10px; */

    max-width: 700px;
    min-width: 10%;

    margin: auto;
    text-align: center;
    display: inline-block;
}

.titulo2{
    background-color: yellow;
    width: 20%;
    border: 2px dotted black;
    padding: 50px 40px 30px 10px;
    margin: auto;
    text-align: center;
    display: inline-block;
    /* display: none; Desaparece el elemento*/
    /* visibility: hidden; Esconder el elemento, pero que mantenga el espacio*/
    /* opacity: .5; Da transparencia a los elementos*/
}

.titulo3{
    background-color: violet;
    width: 20%;
    border: 2px dotted black;
    padding: 50px 40px 30px 10px;
    margin: auto;
    text-align: center;
    display: inline-block;
}

#enlace{
    background-color: gray;
}

.bloque1{
    background-color: green;
    /* overflow: hidden;
    overflow: scroll; */
}