.cabecera {
  display: flex; }
  .cabecera__buscador {
    width: 600px; }
  .cabecera__buscador__input {
    border-radius: 20px;
    height: 50px; }
  .cabecera__menu__principal {
    list-style: none;
    display: flex; }
    .cabecera__menu__principal li {
      margin: 0 40px; }
