body{
    margin: 0;
}

.cabecera{
   
    /*
Posicionamento fixed*/

    
    background-color: pink;
    text-align: center;
    padding: 6px 0;
    position: absolute;
    width: 100%;
    top: 0; 

}

.barra-lateral{
    width: 200px;
    height: 700px;
    background-color: rgb(111, 216, 200);
    /* position: relative; */
}

.cajas{
    width: 150px;
    height: 150px;
}

.roja{
    background-color: red;
}

.azul{
    background-color: blue;
    position: absolute;
    top: 0;
    bottom: 31%;
}