.contenedor{
    height: 300px;
    background-image: linear-gradient(45deg, rgba(255,0,0,0.5), rgba(255,0,0,0.1) );
}

.contenedor2{
    height: 300px;
    background-image: linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,0,0,0.1) );
}

.contenedor3{
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0.5), rgba(255,0,0,0.1) );
}

.contenedor4{
    height: 300px;
    background-image: linear-gradient(to left, rgba(255,0,0,0.5), rgba(255,0,0,0.1) );
}

.caja-imagen{
    position: relative;
}

.caja-imagen img{
    width: 100%;
}

.caja-imagen:hover img{
    width: 100%;
    filter: grayscale();
    transition: all 1s ease-out;
}

/* .efecto{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
} */

/*DIV CLASS CAJA*/

.caja{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin-bottom: 200px;
}

.caja:hover{
    transform: rotate(45deg);
    transition: all 2s ease-out;
    transform: translate(500px);
    transform: scale(105%, 105%);
    transform: skewY(20deg);
}

.caja-imagen{
    position: relative;
    width: 800px;
    overflow: hidden;
}