body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.pinimg.com/originals/84/76/b2/8476b2eea6d90a9412609415178c47d9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    background-image: url(https://i.pinimg.com/originals/7f/b9/40/7fb9401a8344cd76d4cf6ec6548e7c47.jpg);
    background-position: center;
    color: white;
    text-align: right;
    padding: 2%;
    font-size: 2rem;
    margin: 1% 0 2% 0;
}

h1 span{
    color: red;
}

section{
    background-color: white;
    margin: 0 5%;
    padding: 1% 2%;
}

div{
    display: inline-block;
}

div div{
    display: inline-block;
    width: 30%;
}

h2{
    color: white;
    padding: 5%;
    margin: 0;
}

.personajes{
    border-right: 5px dotted red;
    padding: 0 2% 0 0;
    float: left;
}

.personajes h2{
    background-color: red; 
}

.casting{
    border-right: 5px dotted blue;
    padding: 0 2% 0 0;
    margin: 0 2%;
    float: left;
}

.casting h2{
    background-color: blue;
}

.rodaje{
    float: right;
}

.rodaje h2{
    background-color: green;
}

p{
    padding: 5%;
    line-height: 2rem;
    margin: 0;
}

/*Menú*/
    
.menu{
    margin: 0 5%;
    list-style-type: none;
    padding: 2% 1%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
}

.menu li{
    display: inline-block;
    position: relative;
    margin: 0 5%;
}

.submenu{
    position: absolute;
    top: 100%;
    display: none;
    background-color: white;
}

.submenu li{
    color: black; 
    width: 90%;
    height: 60px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu li:hover{
    background-color: #DADADA;
}


.menu li:hover{
        cursor: pointer;
      }

.listaperso:hover .submenu{
    display: block;
    left: 0;
    padding-inline-start: 0;
    
}

.listaperso, .listacas, .listarod{
    padding: 2%;
    text-align: center;
}

.listaperso{
    border-bottom: 2px solid red;
}

.listacas{
    border-bottom: 2px solid blue;
    }

.listarod{
    border-bottom: 2px solid green;
}

.listaperso:hover{
    background-color: red;
}

.listacas:hover{
    background-color: blue;
    }

.listarod:hover{
        background-color: green;
}