.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    height: 100vh;
    flex-wrap: wrap;
}

.caja{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
}

.caja:hover{
    height: 230px;
    width: 150px;
    border: 1px solid black;
    background-color: green;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    border: 2px solid red;
}

.caja:nth-child(odd){
    background-color: yellow;
}