body{
    font-family: 'Roboto', sans-serif;
}

.menu{
    list-style-type: none;
}

.menu li{
    display: inline-block;
    margin: 0 20px;
    color: #0b5891;
    font-weight: bold;
    position: relative;
}

.deportes{
    position: absolute;
    /*Para desaparecer las propiedades colocamos display: none;*/
    display: none;
}

.deportes li{
    margin: 15px 0;
}

/*Para que aparezca la lista de la clase deportes*/
.depo:hover .deportes{
    display: block;
    padding-inline-start: 0;
}


