body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.top-banner{
    background-color: #D4CEC7;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.top-banner h3{
    margin: 0;
    color: #2A295C;
}

.banner-inferior{
    background-color: #2A295C;
    padding: 10px 0;
    text-align: center;
}

.banner-inferior h3{
    color: white;
}