body{
    
    font-family: 'Cabin', sans-serif;
}

#logo{
    width: 15%;
}

#separador1{
    border-top: 5px dotted #00B3D6;
    border-bottom: none;
}

a{
    text-decoration: none;
    color: #4E4E6A;
}

hr{
    border: 2px solid;
}

ul{
    list-style:none;
}

.listapunto{
    list-style-type: disc;
}

select{
    padding: 10px 200px 10px 3px;
}

nav, h1, h2, hr, label{
    color: #4E4E6A;
    font-weight: lighter;
}

section{
    padding: 20px 0;
}

section p{
    padding: 0 20% 0 0;
}

.parrafoizquierda{
    text-align: right;
    padding: 0 0 0 20%;
}

.box {
    display: flex;
    justify-content: space-around;
  }

.islas{
    width: 45%;
    margin: 0 0 100px 0;
}

/*Diseño Footer*/

#newsletter{
    background-color: #E1E1E1;
    display: flex; 
}

#caja{
    margin-right: auto;
}

#boton, .fab{
    color: white;
    background-color: #59B0E2;  
    cursor: pointer;  
}

input{
border-style: none;
padding: 3px 10px;
}

#boton{
    padding: 3px 30px;
}

.fab{
    padding:10px 12px;
    border-radius: 50%;
    
}

#piedepagina{
    color: white;
    background-color: #4D4F6A;
}

#newsletter, #piedepagina{ 
padding: 2%;
}

#piedepagina a{
    color: white;
}