.bloque1 .banner-principal{
    border: 2px solid black;
    padding: 40px;
}

.bloque2 .banner-secundario{
    border: 2px solid black;
    width: 32.8%;
    display: inline-block;
    background-color: #999999;
    padding: 25px;
}

.bloque3 .ficha{
    border: 2px solid black;
    width: 12.5%;
    display: inline-block;
    padding: 5%;
}

section{
    margin: 0 1%;
}

div{
    margin: 2% 5%;
}

.banner-principal, .banner-secundario, .ficha{
    text-align: center;
}