body{
    background-color: yellow;
    /* background-image: url(https://p4.wallpaperbetter.com/wallpaper/771/229/243/sky-green-clear-white-wallpaper-preview.jpg); */
    background-size: cover;
    margin: 0;
}


@media only screen and (max-width:600px){
    body{
        background-color: chocolate;
        /* background-image: unset; */
    }
}

@media only screen and (min-width:601px) and (max-width:850px){
    body{
        background-color: green;
    }
}

.header{
    background-color: red;
    padding: 30px 0;
    text-align: center;
    border: 2px solid black;
}

.contenido{
    display: flex;
    justify-content: space-between;
    background-color: blue; 
}

.caja1{
    width: 30%;
    height: 50vh;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja2{
    width: 30%;
    height: 50vh;
    background-color: rgb(140, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja3{
    width: 30%;
    height: 50vh;
    background-color: rgb(0, 247, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width:400px){
    
    .contenido{
        flex-wrap: wrap;
    }

    .caja1, .caja2, .caja3{
        width: 100%;
    }

}

@media only screen and (min-width:401px) and (max-width:900px){

    body{
        background-color: black;
    }
    
    .contenido{
        flex-wrap: wrap;
    }
    
    .caja1, .caja2{
        width: 50%;
    }

    .caja3{
        width: 100%; 
    }

}