body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.pinimg.com/originals/84/76/b2/8476b2eea6d90a9412609415178c47d9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Menú*/
    
.menu{
    margin: 0 5%;
    list-style-type: none;
    padding: 2% 1%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
}

.menu li{
    position: relative;
    margin: 0 5%;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
}

.submenu li{
    color: black; 
    width: 90%;
    height: 60px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu li:hover{
    background-color: #DADADA;
}

.menu li:hover{
    cursor: pointer;
}

.listaperso:hover .submenu{
    display: block;
    left: 0;
    padding-inline-start: 0;
}

.listaperso, .listacas, .listarod{
    padding: 2%;
    text-align: center;
}

.listaperso{
    border-bottom: 2px solid red;
}

.listacas{
    border-bottom: 2px solid blue;
    }

.listarod{
    border-bottom: 2px solid green;
}

.listaperso:hover{
    background-color: red;
}

.listacas:hover{
    background-color: blue;
    }

.listarod:hover{
        background-color: green;
}

/*Secciones de la página*/

section{
    background-color: white;
    margin: 0 5%;
    padding: .5%;
}

div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div div{
    flex-direction: column;
    width: 60%;
    margin: 2%;
}

h2{
    color: white;
    padding: 5%;
    margin: 0;
    width: 90%;
}

.detalle{
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0 2%;
}

.detalle:nth-child(1) h2{
    background-color: red;
    color: white;
}

.detalle:nth-child(1){
    border-right: 5px dotted red;
}

.detalle:nth-child(2) h2{
    background-color: blue;
    color: white;
}

.detalle:nth-child(2){
    border-right: 5px dotted blue;
}

.detalle:nth-child(3) h2{
    background-color: green;
    color: white;
}

.titulo{
    background-image: url(https://i.pinimg.com/originals/7f/b9/40/7fb9401a8344cd76d4cf6ec6548e7c47.jpg);
    background-position: center;
    text-align: right;
    color:white;
    padding: 2%;
    font-size: 2rem;
    margin: 2%;
}

.titulo span{
    color: red;   
}

p{
    padding: 5%;
    line-height: 2rem;
}

@media only screen and (max-width:500px){
    section div{
        flex-wrap: wrap;
    }

    .detalle:nth-child(1), .detalle:nth-child(2){
        border: none;
        margin: 1% 0;
    }
}