body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #FAFAFA;
    box-sizing: border-box;
}

h2{
    text-align: center;

}

/*Header*/

.top-banner{
    background-color: #411016;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.logo-buscador input{
    border-radius: 1.3vw;
    padding: 1em;
    width: 100%;
    border: none;
}

.logo-buscador{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    background-color: #F4F4F4;
}

.logojuan{
    position: absolute;
    left: 8%;
    z-index: 2;
}

.buscar{
    position: relative;
    width: 40%;
    margin: 1.3vw;
}

.buscar::before {
    content: url(img/iconos/fi_search.svg);
    position: absolute;
    top: 0.6vw;
    left: 4%;
    width: 2.1vw;
    height: 2.1vw;
    z-index: 1;
}

.buscar input[type="text"]{
    padding-left: 15%; 
}

/*Íconos cabecero*/

.iconos{
    display: flex;
    margin: 0 12%;
}

.iconos span{
    margin: 20%;
}

.iconos span:hover{
    cursor: pointer;
}

.corazon{
    content: url(img/iconos/corazon.svg);
}

.corazon:hover{
    content: url(img/iconos/corazon-rojo.svg);;
}

.persona{
    content: url(img/iconos/persona.svg);
}

.persona:hover{
    content: url(img/iconos/persona-rojo.svg);;
}

.carrito{
    content: url(img/iconos/carrito.svg);
}

.carrito:hover{
    content: url(img/iconos/carrito-rojo.svg);;
}

/*Navegador*/

nav ul{
    background-color: #F4F4F4;
    list-style-type: none;
    margin: 0;
    padding: 1% 15%;
    display: flex;
    justify-content: space-around;
    color:#411016;
}

.navegador li{
    position: relative;
}

.navegador li:hover{
    cursor: pointer;
    color: #D70021;
    text-decoration: underline;
}

.productos li{
    margin: 0 5%;
    width: 100%;
    display: flex;
    align-items: center;
}

.submenu{
    display: none;
    position: absolute;
    background-color: #F4F4F4;
    z-index: 2;
}

.submenu li{
    padding: 10% 0;
}

.submenu li:hover{
    color: #D70021;
    text-decoration: underline;
}

.productos:hover .submenu{
    display: block;
    left: -1.5vw;
    padding: 1vw 4.1vw 0.6vw 1vw;
    width: max-content;
}

/*Carrusel principal*/

.banner1{
    position: relative;
}

.banner1 img{
    width: 100%;
}

.textocolombia{
    top: 4%;
    left: 12%;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vw;
    line-height: 5vw;
    color: #FFFFFF;
    position: absolute;
}

.textodisfruta {
    top: 30%;
    left: 12%;
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    line-height: 5vw;
    padding: 0 1%;
    background: white;
    color: black;
    mix-blend-mode: lighten;
    position: absolute;
}

.carruselprincipal-boton{
    position: absolute;
    top: 72%;
    left: 12%;
    color: #FFFFFF;
    background-color: #D70021;
    width: 13.8vw;
    height:  3.4vw;
    border: none;
    border-radius: 7.7vw;
    font-family: 'Lato', sans-serif;
}

/* Display con background: rgba(0, 0, 0, 0.3);
.banner2 img:hover{
    opacity:.4
}  */

.banner2{
    display: flex;
    justify-content: center;
}

.banner2 img{
    margin: 2% 1%;
    border-radius: 5%;
}

.bannercomparte{
    position: relative;
    margin: 3% 1%;
}

.textocomparte{
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 3;
}

.textorecetas{
    position: absolute;
    top: 9%;
    left: 8%;
    z-index: 3;
}
.textoconoce{
    position: absolute;
    top: 44%;
    left: 6%;
    z-index: 3;
}

.banner2-boton{
    display: none;
    position: absolute;
    top: 80%;
    left: 21%;
    color: #FFFFFF;
    background-color: #D70021;
    width: 13.8vw;
    height: 3.4vw;
    border: none;
    border-radius: 7.7vw;
    font-family: 'Lato', sans-serif;
    z-index: 3;
}

.bannercomparte{
    position: relative;
}

.bannercomparte{
    width: 332px;
}

.bannercomparte:hover{
    cursor: pointer;
}

.bannercomparte:hover .banner2-boton{
    display: block;
    cursor: pointer;
}

.background {
    display: none;
    width: 332px;
    height: 418px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 6px;
    left: 1%;
    z-index: 2;
    border-radius: 20px;
}

.bannercomparte:hover .background{
    display: flex;
    cursor: pointer;
}

/*Categorías principales*/

      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 1.3vw;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

/*Sobre Juan Valdez*/

.sobrejuanvaldez img{
    width: 90%;
    margin: 5%;
}

/*Footer*/

footer{
    color: #411016;
    background-color: #F4F4F4;
    border-radius: 1.7vw 1.7vw 0 0;
    line-height: 2em;
}

footer p{
    text-align: center;
}

.suscripcion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 3%;
}

.suscripcion p{
    width: 23%;
}

.suscripcion p span{
    color: #C5292C;
    font-weight: bold;
    font-size: 1.2em;
}

.suscripcion img{
    margin: 10%;
}

.inscripcion{
    width: 41%;
}

.inscripcion #email{
    padding: 2% 45% 2% 3%;
    margin: 0;
    border: 0.06vw solid #E0E0E0;
}

.inscripcion #enviar{
    background: #C5292C;
    color: white;
    font-weight: bold;
    padding: 2% 3%;
    margin: 0;
    border: none;
    border-radius: 0 7vw 7vw 0;
}

.enviocorreo{
    display: flex;
}

.siguenos{
    width: 12%;
}

.siguenos h4{
    text-align: center;
    margin: 3%;
    font-size: 1.2em;
}

/*Íconos footer*/

.siguenos span{
    margin: 0 3.5%;
    height: 1.2vw;
}

.siguenos span:hover{
    cursor: pointer;
}

.facebook{
    content: url(img/iconos/facebook.svg);
}

.facebook:hover{
    content: url(img/iconos/facebook-rojo.svg);
}

.instagram{
    content: url(img/iconos/instagram.svg);
}

.instagram:hover{
    content: url(img/iconos/instagram-rojo.svg);
}

.whatsapp{
    content: url(img/iconos/whatsapp.svg);
}

.whatsapp:hover{
    content: url(img/iconos/whatsapp-rojo.svg);
}

.youtube{  
    content: url(img/iconos/youtube.svg);
}

.youtube:hover{  
    content: url(img/iconos/youtube-rojo.svg);
}

.tiktok{  
    content: url(img/iconos/tiktok.svg);
}

.tiktok:hover{  
    content: url(img/iconos/tiktok-rojo.svg);
}

.contacto{
    display: flex;
    justify-content: space-evenly;
}

.contacto li:hover{
    color: #C5292C;
    cursor: pointer;
}

.logosinfondo{
    height: 20%;
    margin: 4% 0;
}

.telefono{
    content: url(img/iconos/telefono.svg);
    margin: 0 3% 0 0;
}

.columnas ul{
    list-style-type: none;
    padding: 0;
}

.columnas__ubicacion{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.ubicacion{
    content: url(img/iconos/ubicacion.svg);
}

select{
    border: none;
    background: transparent;
    color: #411016;
    display: flex;
    padding: 3%;
}

.medios-pago{
    display: flex;
    justify-content: space-evenly;
    margin: 0 4%;
}